* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

.container {
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .container {
    max-width: 995px;
    margin: 0 auto;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

#menu-toggle {
  display: none;
}

#menu-label {
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 40px;
  color: black;
}

#menu-toggle:checked ~ header .menu .menu-item {
  opacity: 1;
}

#menu-toggle:checked ~ header {
  max-height: 1000px;
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow-y: scroll;
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #menu-label {
    display: none;
  }
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: 0.5px solid grey;
  -webkit-transition: max-height .3s, background-color .4s ease-out;
  transition: max-height .3s, background-color .4s ease-out;
}

header .logo {
  font-size: 36px;
  font-weight: 700;
  padding: 20px;
  color: black;
  text-decoration: none;
}

header .menu {
  padding: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu .menu-item {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  list-style: none;
  text-align: center;
}

header .menu .menu-item input[type=checkbox] {
  display: none;
}

header .menu .menu-item .dropdown {
  padding: 15px 0;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  -webkit-box-shadow: inset 5px 5px 39px -15px rgba(0, 0, 0, 0.75);
          box-shadow: inset 5px 5px 39px -15px rgba(0, 0, 0, 0.75);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: block;
  visibility: hidden;
  max-height: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: max-height .3s, visibility .18s;
  transition: max-height .3s, visibility .18s;
}

header .menu .menu-item .dropdown .dropdown-item {
  padding: 10px 0;
  list-style: none;
}

header .menu .menu-item .dropdown .dropdown-item .dropdown-link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

header .menu .menu-item .menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  opacity: .5;
}

header .menu .menu-item .menu-link:hover {
  opacity: 1;
}

header .menu .menu-item .menu-link-active {
  text-decoration: underline;
  opacity: 1;
}

main {
  padding-top: 100px;
  min-height: calc(100vh - 120px);
}

footer {
  width: 100%;
  text-align: center;
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: unset;
  }
  header .menu .menu-item {
    opacity: 1;
    padding: 0 15px;
    position: relative;
  }
  header .menu .menu-item .menu-link {
    font-size: 14px;
  }
  header .menu .menu-item .dropdown {
    height: 300px;
    width: 200px;
    top: 180%;
    left: -70%;
    position: absolute;
    overflow-y: hidden;
    background-color: white;
    outline: 1px solid black;
  }
  header .menu .menu-item .dropdown .dropdown-item .dropdown-link {
    font-size: 12px;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.block-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.action {
  width: 100%;
  min-height: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  width: 100%;
}

@media (min-width: 801px) {
  .block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .action {
    width: 49%;
  }
  .description {
    width: 49%;
  }
}

.btn {
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #7c24ac;
  background: linear-gradient(331deg, #7c24ac 0%, #be7eda 100%);
  font-size: 16px;
  font-weight: 700;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn2 {
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#833ab4), color-stop(50%, #fd1d1d), to(#fcb045));
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.btn2:hover {
  background: #833ab4;
  background: linear-gradient(346deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

.btn:hover {
  background: #7c24ac;
  background: linear-gradient(61deg, #7c24ac 0%, #be7eda 100%);
}

.js-code,
.html-code,
.css-code {
  outline: 1px solid grey;
  min-height: 100px;
  height: 40%;
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px;
  font-family: monospace;
  font-size: 11px;
  resize: none;
}

@media (min-width: 801px) {
  .js-code,
  .html-code,
  .css-code {
    min-height: unset;
  }
}

@media (min-width: 801px) {
  .x-big {
    height: 90%;
  }
}

.y-big {
  height: 150px;
}

.operator {
  font-size: 26px;
  font-weight: 500;
}

.form input {
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */