* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

a {
    text-decoration: none;
}

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: rgb(235, 235, 235);

        padding: 8px;

        margin-bottom: 10px;

        border-bottom: 1px solid rgb(110, 110, 110);
    }

    header a.menu__button {
        font-size: 30px;
        font-weight: 700;
    }

    header a.add__task__button {
        font-size: 40px;
        font-weight: 700;
        outline: none;
        transition: transform .3s ease;

        -webkit-tap-highlight-color: transparent;
    }

    #toDo {
        text-transform: uppercase;
    }

    .rotate {
        transform: rotate(45deg);
    }

.menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    max-height: 0px;

    transition: max-height .3s ease;

}

.menu {
    transform: translateY(-300px);
    transition: transform .3s ease;
    width: 100%;

}

.show__menu {
    transform: translateY(0);
}

.close__menu {
    transform: translateY(-300px);
}

.menu__item {
    text-align: center;
    padding: 10px;
    list-style: none;
    background-color: rgb(255, 255, 255);

    border-bottom: 1px solid rgb(173, 173, 173);
    border-top: 1px solid rgb(172, 172, 172);
}

/* .menu__item::after {
    display: block;
    content: "";
    border-top: 1px solid black;
    width: 100%;
    margin: 0 auto;
} */

.menu__link {
    color: black;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 700;
}

    .set__task__color table, 
    .set__task__color th, 
    .set__task__color td {
        border: 5px solid wheat;
        border-radius: 45px;
        padding: 30px;
    }

    .set__task__color table {
        background-color: white;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .task__color {
        border-radius: 45px;
        border-color: rgb(110, 110, 110);
        padding: 0px 6px;
        height: 12px;
        transform: translateY(5px);
    }

    .flexbox h2 {
        padding: 10px;
    }

    .flexbox input {
        outline: none;
        border-radius: 25px;
        border: 2px solid black;

        padding: 10px;
        margin: 10px;
    }

    .flexbox button {
        outline: none;
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
        width: 75px;

        font-weight: 700;
    }

    .flexbox .notifications__item {
        list-style: none;
        text-align: center;
        padding: 5px;

    }

    .flexbox .notifications__item::after {
        display: block;
        content: "";
        border-top: 1px solid black;
        width: 100%;
        margin: 0 auto;
    }

    .flexbox .notifications__link {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: 400;
    }

    .set__task__ready {
        transition: opacity 5s linear;
    }

.task {
    display: flex;
    flex-direction: row;    
    justify-content: safe;

    background-color: rgb(221, 221, 221);

    padding: 10px;

    border-bottom: 1px solid rgb(110, 110, 110);
    border-top: 1px solid rgb(110, 110, 110);
    
    font-size: 20px;
    font-weight: 500;
}

.task div {
    margin-right: 14px;
}

.task__name {
    width: 150px;
}

.task__text {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.delete p {
    position: absolute;
    right: 15px;
    font-size: 20px;
    font-weight: 700;
}

.hide {
    display: none;
}

.vanish {
    opacity: 0;
}

    footer {
        padding-bottom: 10px;
        position: absolute;
        bottom: 0;

        text-align: center;

        width: 100%;
    }

/* CALENDAR */

.calendar {
    border-bottom: 1px solid rgb(138, 137, 137);
    background-color:rgb(175, 175, 175)
}

.calendarHeader {
    display: flex;
    justify-content: center;

    padding: 5px 10px;
}

.calendarHeader a,
.calendarHeader p {
    flex: 33%;
}

.calendar__previousMonth {
    text-align: left;
}

.calendar__currentMonth {
    text-align: center;
}

.calendar__nextMonth {
    text-align: right;
}

.days {
    position: relative;
    z-index: 1;
}

.calendar__anotherMonth {
    color: grey;
    background-color: rgb(187, 186, 186);
    z-index: 1;
}

.calendar__activeDay {
    color: white;
    position: relative;
    /* background: green;
    border-radius: 45px;
    color: white; */
}

.calendar__activeDay::after {
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: green;
    width: 50%;
    height: 130%;
    border-radius: 45px;
    transform: translate(50%, -5%);
}



.calendar__weekdays {
    background-color: rgb(160, 160, 160);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 5px;
}

.calendar__weekdays div {
    height: 20px;
    width: 14%;
}

.days {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

.days div {
    height: 20px;
    width: 14%;
}

.setDate {
    text-align: center;
    margin-bottom: 15px;
}